<h1>Create your account</h1>

<% if flash[:alert].present? %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>

<%= form_with(model: @user, url: users_path, method: :post) do |f| %>
  <div>
    <%= f.label :email, "Email" %><br>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Password confirmation" %><br>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= f.submit "Sign up" %>
  </div>
<% end %>
