<% if user_signed_in? %>
  <h1>Welcome, <%= current_user.email %></h1>
  <p>Hello, <%= current_user.email %></p>

  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
  <h1>Welcome to PokéForum!</h1>
  <%= link_to "Login", new_user_session_path %> |
  <%= link_to "Register", new_user_registration_path %>
<% end %>
