<div class="forum-container">
  <h1>Edit Post</h1>
  
  <%= form_with model: @post, local: true, class: 'post-form' do |form| %>
    <% if @post.errors.any? %>
      <div class="error-messages">
        <h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-input' %>
    </div>
    
    <div class="form-group">
      <%= form.label :post_type, 'Post Type', class: 'form-label' %>
      <% post_type_value = @post.respond_to?(:post_type) ? @post.post_type : 'Thread' %>
      <%= form.select :post_type, options_for_select([['Thread', 'Thread'], ['Meta', 'Meta']], post_type_value), 
                      { prompt: 'Select post type...' }, { class: 'form-select' } %>
    </div>
    
    <div class="form-group">
      <%= form.label :body, 'Body', class: 'form-label' %>
      <%= form.text_area :body, class: 'form-textarea', rows: 10 %>
    </div>
    
    <div class="form-group">
      <%= form.label :tag_names, 'Tags (comma-separated)', class: 'form-label' %>
      <%= form.text_field :tag_names, value: @post.tag_names, class: 'form-input' %>
      <small class="form-help">Separate multiple tags with commas</small>
    </div>
    
    <div class="form-actions">
      <%= form.submit 'Update Post', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', @post, class: 'btn btn-outline' %>
    </div>
  <% end %>
</div>
